<!doctype html>
<html>
    <body>
        <img src="images/Harry-Potter_2.jpg">
        <h1>Hogwarts</h1>
        <form action='login' method='POST'>
            <input placeholder='username' type = "text" name="username">
            <input type = "password" name="password">
            <input type = "submit" value = "Войти">
        </form>
    </body>
</html>